html, body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.container {
    padding: 6px;
}

.optionSet {
    display: flex;
    flex-direction: column;
    width: 250px;
    position: relative;
}

.optionSet::after {
    content: "";
    height: 97%;
    background: blue;
    opacity: .1;
    width: 103%;
    position: absolute;
    left: -6px;
    top: 16px;
    z-index: -1;
    border-radius: 5px;
}

.inputFiled {
    padding: .8em;
    line-height: 1.1;
    margin: 10px;
    border-radius: 4px; 
}

.inputFiled:focus {
    background: aliceblue;
    border-color: currentColor;
    outline-width: 0;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.buttonWithColorPicker {
    display: flex;
    align-items: center;
}

input[type=color] {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 8px;
    cursor: pointer;
}

input[type=checkbox] {
    cursor: pointer;
}


.optionsAndCodeSnippetContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.dropDownContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropDownContainerTitle {
    cursor: pointer;
    border: 3px solid rgba(200,200,200,.7);
    padding: 4px;
    font-family: 'source code pro';
    width: 260px;
}


@media(min-width: 950px){
    
    .app{
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    
    .dropDownContainer {
        margin-left: 400px;
        align-items: flex-start;
    }
    
    .buttonsContainer {
        position: fixed;
        height: 100vh;
        top: 15%;
    }
    
    .optionsAndCodeSnippetContainer {
        flex-direction: row;
        justify-content: space-evenly;
        text-align: left;
        align-items: flex-start;
    }
}